

html {
    background-color: #000;
    color: #fff;
}

body {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#social-links {
    display : block;
}
#social-links a {
    color : white;
    text-decoration: none;
    font-weight: 700;
    margin-right: 10px;
}

.landing {
    width: 100%;
    height:100vh;
}
.landing img {
    width: 30%;
    min-width: 200px;
    position:relative;
    top:12rem;
}
.landing h1 {
    font-size: 8rem;
    font-weight: 900;
    position: absolute;
    top:80px;
    line-height: 190px;
    z-index: -10;
    opacity: 0.1;
}